<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.anpuservice.mapper.ManagerOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.example.anpuservice.model.ManagerOperateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="log_number" jdbcType="VARCHAR" property="logNumber" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="result_status" jdbcType="VARCHAR" property="resultStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="before_params" jdbcType="LONGVARCHAR" property="beforeParams" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>



  <select id="selectOperateLogList" resultMap="BaseResultMap"
          parameterType="com.example.anpuservice.bo.MagOperateLogReqVO">
    SELECT
    *
    FROM
    `manager_operate_log`
    WHERE 1=1
    <if test="magOperateLogReqVO.operation != null and magOperateLogReqVO.operation != ''">
      AND manager_operate_log.`operation` = #{magOperateLogReqVO.operation}
    </if>
    <if test="magOperateLogReqVO.operateType != null and magOperateLogReqVO.operateType != ''">
      <if test="magOperateLogReqVO.operateType != 'other'">
        AND manager_operate_log.`operate_type` = #{magOperateLogReqVO.operateType}
      </if>

      <if test="magOperateLogReqVO.operateType == 'other'">
        AND (`manager_operate_log`.`operate_type` IS NULL
        OR `manager_operate_log`.`operate_type` = 'other')
      </if>
    </if>
    <if test="magOperateLogReqVO.resultStatus != null and magOperateLogReqVO.resultStatus != ''">
      AND manager_operate_log.`result_status` = #{magOperateLogReqVO.resultStatus}
    </if>
    <if test="magOperateLogReqVO.userName != null and magOperateLogReqVO.userName != ''">
      AND manager_operate_log.`user_name` = #{magOperateLogReqVO.userName}
    </if>
    <if test="magOperateLogReqVO.beginTime != null and magOperateLogReqVO.beginTime != ''
                        and magOperateLogReqVO.endTime != null and magOperateLogReqVO.endTime != ''">
      AND manager_operate_log.`create_time` >= #{magOperateLogReqVO.beginTime} AND manager_operate_log.`create_time` &lt;= #{magOperateLogReqVO.endTime}
    </if>
    ORDER BY `manager_operate_log`.`create_time` DESC
  </select>

  <select id="getOperationNameList" resultType="com.example.anpuservice.vo.TreeVO">
    SELECT
      `manager_operate_log`.`operation` AS `key`,
      `manager_operate_log`.`operation` AS `value`
    FROM
      `manager_operate_log`
    GROUP BY `manager_operate_log`.`operation`
    ORDER BY id DESC
  </select>

</mapper>